.main_wrapper {
    display: flex;
    width: 100%;
}

.main_wrapper ul {
    padding: 0px;
}

.main_wrapper ul li{
    list-style: none;
    margin-bottom: 16px;
}

.main_wrapper ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.main_wrapper ul li a:hover {
    color: rgb(91, 91, 91);
}

.main_wrapper ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.main_wrapper ul li a:hover::after {
    transform: scale(1, 1);
}

/* exobj style */

.exobj {
    margin-bottom: 10px;
    width: 720px;
    border: solid 1px black;
    padding: 8px;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
}

.exobj p {
    margin: 8px;
}

.exobj span{
    margin: 8px;
    margin-right: 16px;
}

.exobj-name {
    font-size: 22px;
}

.exobj > .date {
    color: #656565;
}

.user-name {
    font-size: 24px;
}

.user-email {
    font-size: 18px;
    color: #8b8b8b;
}