.index4login_exobj {
    margin: 0 auto;
}

.container__pagination {
    text-align: center;
}

.pagination-navigation {
    display: inline-block;
}

.pagination {
    display: flex;
}

.pagination li {
    padding: 2px;
    font-size: 18px;
}

.pagination-block {
    border: solid 1px #676767;
}

.pagination-block a {
    margin: 3px;
}

.apply-button__button {
    border: 0;
    border-radius: 5px;
    background: #fff200;
    color: rgb(0, 0, 0);
    padding: 2px 16px;
    font-size: 16px;
}

.apply-button__button:hover {
    cursor: pointer;
    background-color: #fff86a;
}