<html>
  <head>
    <title>baarcari</title>
    <link rel="stylesheet" type="text/css" href="/css/_reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/_index.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="/css/index4login.css" />
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
    <link rel="stylesheet" type="text/css" href="/css/new_exobj.css" />
    <link rel="stylesheet" type="text/css" href="/css/exobjs_item.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
  </head>
  <script src="/js/confirmForm.js"></script>
  <body>
  <header>
    <div class="header_wrapper">
      <div class="header_container">
        <div class="header">
          <h1>baarcari</h1>
        </div>
      </div>
    </div>
  </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>