<div class="main_wrapper">
  <div>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/application-status">応募状況</a></li>
      <li><a href="/exobjs/new">新規出品</a></li>
      <li><a href="/exobjs/search">検索</a></li>
      <li><a href="/users/<%= @uid %>">出品管理</a></li>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </div>
  <div class="new_exobj__form__wrapper">
    <form
      class="new"
      name="exobj_form" 
      action="/exobjs/new"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return confirmForm('登録')"
    >
      <div class="new_exobj__input__wrapper">
        <div class="new_exobj_itemname__wrapper">
          <input type="text" name="item_name" maxlength="100" placeholder="出品名" required />
        </div>
        <div class="new_exobj_detail__wrapper">
          <textarea name="item_info" cols="30" rows="10" maxlength="100" placeholder="詳細" required></textarea>
        </div>
        <div class="new_exobj_remarks__wrapper">
          <textarea type="text" name="remarks" maxlength="50" placeholder="備考"></textarea>
        </div>
        <div>
          <input type="file" name="item_file" >
        </div>
        <div>
          <input type="radio" name="joutosaki" value="lottery" checked>抽選</input>
          <input type="radio" name="joutosaki" value="hayaimono">早い者勝ち</input>
          <div>
          <input type="date" id="deadline" name="deadline">
          </div>
        </div>
        <input type="submit" value="登録" />
      </div>
    </form>
  </div>
</div>

<script>
t = document.getElementsByName('joutosaki');
t[0].addEventListener("click", isChosen);
t[1].addEventListener("click", isChosen);

function isChosen(){
  document.getElementById('deadline').disabled = !t[0].checked;
}
</script>